body{
    background-color:rgb(55, 190, 252);
    font-size: 40px;
    text-align: center;
    font-family: 'Pacifico', cursive;

}

p{
color : rgb(135, 56, 180)
}

#missao{ 
    color: rgb(16, 20, 236);
    font-size:24px;    
} 

#restauranteI 
   ":width"=120%